.label-image {
    position: fixed;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    transition: transform .6s cubic-bezier(0.6, -0.28, 0.735, 0.045), opacity .4s ease;
    opacity: 0;
    z-index: 99;
    pointer-events: none;
}

.label-image.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.label-image.hide {
    opacity: 0;
}

.label-image.real {
    width: 280px;
}