* {
    box-sizing: border-box;
}

body {
    background-color: #dfdfd7;
    height: 100vh;
    font-family: "Merriweather";
    margin: 0px;
    display: grid;
    padding: 40px;
    grid-template-columns: 520px 0px;
    align-content: center;
    justify-content: center;
    transition: grid-template-columns .4s ease-in-out;
}

body.full {
    grid-template-columns: 480px max(0px, calc(100vw - 80px - 480px));
}

main {
    width: 100%;
    max-height: 476px;
    position: relative;
    justify-self: center;
}

main .main-container {
    height: 100%;
    background: #fbfbf8;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px #ccc;
    position: relative;
    z-index: 2;
}

body.full main .main-container {
    border-radius: 4px 0px 0px 4px;
}

main h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 24px;
}

main form {
    display: grid;
    gap: 24px;
}

main input,
main textarea {
    width: 100%;
    font-family: "Merriweather";
    padding: 12px;
    border: 1px solid #ccc;
    display: block;
}

main input {
    height: 44px;
}

main textarea {
    min-height: 200px;
    resize: vertical;
}

main input.invalid,
main textarea.invalid {
    border-color: #b37070;
}

main .validation-message {
    color: #b37070;
    font-size: 0.85rem;
    margin-top: 8px;
    display: none;
}

main input.invalid~.validation-message,
main textarea.invalid~.validation-message {
    display: block;
}

main button[type="submit"] {
    background-color: #f1f1f1;
    height: 40px;
    border: 1px solid #e7e7e7;
    font-family: "Merriweather";
    cursor: pointer;
    transition: .3s all ease-in-out;
}

main button[type="submit"]:hover {
    background-color: #e8e8e8;
}

button#showNews {
    height: calc(100% - 24px);
    background: #f1f1f1;
    border: none;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 10px;
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Merriweather";
    top: 12px;
    right: -30px;
    box-shadow: 1px 1px 2px 0px rgba(204, 204, 204, .5);
    cursor: pointer;
    z-index: 0;
    transition: .3s all ease-in-out;
    opacity: 0;
    visibility: hidden;
}

button#showNews:hover {
    background-color: #ebebeb;
    transform: translateX(6px);
}

button#showNews.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 1200px) {

    body.full {
        grid-template-columns: 360px max(0px, calc(100vw - 80px - 360px));
    }

    main h1 {
        font-size: 1.7rem;
    }

}

@media (max-width: 900px) {

    body,
    body.full {
        height: auto;
        grid-template-columns: 1fr;
        padding: 28px;
    }

    main {
        max-height: none;
    }

    main .main-container {
        padding: 32px;
        border-radius: 4px 4px 0px 0px;
    }

    main h1 {
        font-size: 1.7rem;
    }

    button#showNews {
        display: none;
    }

}