* {
    box-sizing: border-box;
}

body {
    background-color: #e2e2de;
    height: 100vh;
    font-family: "Merriweather";
    margin: 0px;
    display: grid;
    padding: 60px;
    grid-template-columns: 600px;
    align-content: center;
    justify-content: center;
}

body.full {
    grid-template-columns: 1fr 2fr;
}

main {
    background: #fbfbf8;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 0px #ccc;
}

main h1 {
    margin-top: 0px;
    margin-bottom: 24px;
    text-align: center;
}

main form {
    display: grid;
    gap: 24px;
}

main input,
main textarea {
    width: 100%;
    font-family: "Merriweather";
    padding: 12px;
    border: 1px solid #ccc;
    display: block;
}

main input {
    height: 44px;
}

main textarea {
    resize: vertical;
    min-height: 100px;
}

main input.invalid,
main textarea.invalid {
    border-color: #b37070;
}

main .validation-message {
    color: #b37070;
    font-size: 0.85rem;
    margin-top: 8px;
    display: none;
}

main input.invalid~.validation-message,
main textarea.invalid~.validation-message {
    display: block;
}

main button {
    background-color: #f1f1f1;
    height: 40px;
    border: 1px solid #e7e7e7;
    font-family: "Merriweather";
    cursor: pointer;
    transition: .3s all ease-in-out;
}

main button:hover {
    background-color: #e8e8e8;
}